<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--No Chinese!!!!!!!!!!!!!!!!!!!!!!!
java.lang.ExceptionInInitializerError
	at MyTest.selectUser(MyTest.java:23)
Caused by: org.apache.ibatis.exceptions.PersistenceException: -->
<configuration>

    <typeAliases>
        <package name="com.tjh.pojo"/>
    </typeAliases>


</configuration>